html {
  display: block;
  background-color: #fffff0;
  scroll-behavior: smooth;
}

body {
  display: block;
}

/* NAV BAR */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 1;
  -webkit-transition: 0.4s ease-in-out; /* Safari */
  transition: 0.3s ease-in-out;
}

#nav-content {
  background-color: none;
}

.nav-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fffff0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#nav-move {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* HOME BUTTON */

.home-button-wrap {
  /* display: flex;
  position: relative;
  margin: auto;
  order: 1;
  flex: 0 1 auto;
  text-decoration: none;
  width: 50%; */
}

.home-button {
  /* display: flex;
  position: relative; */
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
  color: #FFFFF0;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  margin-left: 1rem;
  padding: 11px 5px 10px 4px;
}

.home-button:hover {
  outline: none;
  border: none;
  transition: 0.5s ease;
}

/*MENU BURGER*/

.menu-button-wrap {
  /* display: flex; */
  /* position: relative;
  margin: auto;
  order: 2;
  flex: 0 1 auto;
  text-decoration: none;
  width: 50%;
  justify-content: flex-end; */
}

/* BURGER */

.burger-container {
  margin-right: 1rem;
  margin-top: 8px;
  padding: 13px 8px;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
  justify-content: center;
}

.bar-container:hover {
  outline: none;
  border: none;
  transition: 0.5s ease;
}

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 6px;
  background-color: #4056A1;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7.5px, 7px);
  -webkit-transform: rotate(-45deg) translate(-7.5px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-9px, -10px);
   -webkit-transform: rotate(45deg) translate(-9px, -10px);
}

/* BURGER */

.dropdown-content {
  cursor: pointer;
  border: none;
  color: #4056A1;
  outline: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-drop {
  text-decoration: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 40px;
  padding: 10% 1%;
  width: 100%;
  overflow: auto;
}

/*FIRST CONTAINER*/

.container-1 {
  padding-top: 100px;
  width: 103%;
  height: 800px;
  background-color: #fffff0;
}

h1 {
  font-family: 'PT Mono', monospace;
  color: #FF4900;
  font-size: 73px;
  text-align: left;
  margin: 10% 3% 5% 3%;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-size: 44px;
  color: #FF5A19;
  text-align: left;
  margin: 6% 3% 8% 3%;
}

#typeWriterHeading2 {
  margin-bottom: 3%;
}

#typeWriterHeading22 {
  margin-top: 0;
}

/*SECOND CONTAINER*/

h3 {
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  font-size: 70px;
  text-align: left;
  margin: 0;
  padding: 8% 3% 3%;
}

#about-me-title {
  color: #FFFFF0;
}

#photo-gallery-title {
color: #FF4900;;
}

#links-title {
 color: #FFFFF0;
}

.container-2 {
  width: 100%;
  height: 100vh;
  background-color: #9BCEF5;
}

p {
  color: #5ba05b;
}

.about-me-text {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}

/*THIRD CONTAINER*/

.container-3 {
  width: 100%;
  height: 100vh;
  background-color: #fffff0;
}

/*FOURTH CONTAINER*/

.container-4 {
  width: 100%;
  height: 1650px;
  background-color: #9BCEF5;
}

.container-text {
  margin: 30px 0px;
  padding: 2px;
}

.project-work-title {
  width: 10%;
  height: 10%;
  margin: 0;
}

h4 {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  position: relative;
  color: #FFFFF0;
  text-align: center;
  font-size: 2rem;
  margin-top: 2.5rem;
  flex-direction: column;
}

#cfg {
  font-size: 1.5rem;
  margin-top: 0.9rem;
}

#wrap-links {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-work {
  display: flex;
  position: relative;
  width: 17rem;
  height: 17rem;
  cursor: pointer;
  margin: 3rem 2rem;
  border-radius: 3%;
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: flex-end;
  justify-content: center;
  flex-flow: column wrap;
}

.project-work:hover {
  display: flex;
  position: relative;
  box-shadow: 0px 35px 50px 0px rgba(63,63,65,0.4);
  transition: 0.7s ease;
  background-color: rgb(44, 54, 61);
}

#project-work-fcc {
  background-color: #8693c4;
}

#project-work-fcc:hover {
  background-color: #3b487a;
}

#project-work-cw {
 background-color: #b9c1dd;
}

#project-work-cw:hover {
  background-color: #5366aa;
}

#project-work-gh {
  background-color: #9ea8cf;
}

#project-work-gh:hover {
  background-color: #425188;
}

#project-work-cfg {
  background-color: #6475b2;
}

#project-work-cfg:hover {
  background-color: #2f3961;
}

.icon {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  flex: 0 1 auto;
  height: 50%;

}

a {
  text-decoration: none;
  height: 100%;
  width: 100%
}

#home-link:visited {
  color: #4056A1;
}

/* ========================
Drop down menu

/* Dropdown Button */
.menu-button {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
  color: #4056A1;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  margin-right: 1rem;
  display: none;
  padding: 11px 4px 10px;
}

.menu-button:hover, .menu-button:focus {
  outline: none;
  border: none;
  transition: 0.5s ease;
}

/* Dropdown Content - hidden */
.dropdown-content {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 145px;
}

/* Options in the dropdown */
.dropdown-content a {
  font-family: 'Allerta Stencil', sans-serif;
  color: #4056A1;
  padding: 10px 12px;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  font-size: 25px;
  width: calc(100% - 24px);
}

/* Change colour of the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6677b3;
  outline: none;
  border: none;
  transition: 0.4s ease;
  color: #FFFFF0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.appear {
  display: block;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFF0;
  height: 100px;
  width: 100%;
}

/* MEDIA QUERIES -------- */

@media (min-width: 360px) {
  .container-text {
    margin: 10px;
    padding: 10px;
}

.container-1 {
  width: 100%;
}

#cfg {
  margin-top: 1.5rem;
}
}

@media (min-width: 420px) {
  h1 {
    font-size: 85px;
  }

  h2 {
    font-size: 53px;
  }
}

@media (min-width: 500px) {

  .burger-container {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .menu-button:hover, .menu-button:focus {
    background-color: #4056A1;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: #FFFFF0;
  }

  .home-button:hover {
    background-color: #4056A1;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: #FFFFF0;
  }

  #home-link:hover {
    color: #FFFFF0;
  }

}

@media (min-width: 712px) {
  .container-4 {
    height: 1000px;
  }
}


@media (min-width: 1000px) and (max-width: 1099px) {

  .container-4 {
    height: 1100px;
  }

  .project-work {
    flex-wrap: wrap;
    margin: 7vw;
    height: 20rem;
    width: 20rem;
    margin: 3rem 2rem;
  }
}

@media (min-width: 1100px) and (max-width: 1383px) {

  .container-4 {
    height: 1250px;
  }

  .project-work {
    flex-wrap: wrap;
    margin: 7vw;
    height: 20rem;
    width: 20rem;
    margin: 5rem 7rem;
  }
}

@media (min-width: 1384px) {
  .container-4 {
    height: 800px;
  }
}



  /* .menu-button {
    position: relative;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 5vw;
    color: rgb(29, 39, 39);
    cursor: pointer;
    border: none;
    background-color: inherit;
    outline: none;
    margin-right: 1rem;
    float: right;
  } */

  .menu-button:hover {
    background-color: #4056A1;
    display: flex;
    position: relative;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: #FFFFF0;
  }

  .project-work:hover {
    display: flex;
    position: relative;
    box-shadow: 0px 35px 50px 0px rgba(63,63,65,0.4);
    transition: 0.7s ease;
    background-color: rgb(44, 54, 61);
  }
  /* Add fade out to project work boxes */
  #wrap-links {
    visibility: hidden;
  }

  #wrap-links > * {
    visibility: visible;
  }

  #wrap-links > * {
    transition: opacity 150ms linear 100ms, transform 150ms, ease-in-out 200ms;
    transition: visibility 150ms linear 100ms, transform 150ms, ease-in-out 400ms;
  }

  /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

  #wrap-links:hover > * {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s ease-in;
    color: #FFFFF0;
  }

  /* Fade out all items when the parent is hovered */

  #wrap-links > *:hover {
    opacity: 1;
    transform: scale(1.05);
    transition-delay: 0ms, 0ms;
    visibility: visible;
  }
  /* Fade in the currently hovered item */
  }

  /* .menu-button {
    display: flex;
    position: relative;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 5vw;
    color: rgb(29, 39, 39);
    cursor: pointer;
    border: none;
    background-color: inherit;
    outline: none;
    margin-right: 1rem;
  }

  .menu-button:hover {
    background-color: rgb(44, 54, 61);
    display: flex;
    position: relative;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: white;
  }*/
}

/* Image carousel */

.image-carousel-container {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  margin: auto;
}

.image-inside-carousel {
  display: none;
}


/* Position the "next button" to the right */
/*
.previous-arrow {
  cursor: pointer;
  position: absolute;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  transition: 0.5s ease;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -22px;
  padding: 16px;
}

.next-arrow {
  cursor: pointer;
  position: absolute;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  transition: 0.5s ease;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.previous-arrow:hover, .next-arrow:hover {
  background-color: rgb(44, 54, 61);
}

}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(108, 122, 137, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(108, 122, 137);
}*/
