html {
  display: block;
  background-color: #fffff0;
  scroll-behavior: smooth;
}

body {
  display: block;
}

/* NAV BAR */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 1;
  -webkit-transition: 0.4s ease-in-out; /* Safari */
  transition: 0.3s ease-in-out;
}

#nav-content {
  background-color: none;
}

.nav-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fffff0;
}

.nav-shadow {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav-move {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9BCEF5;
}

/* HOME BUTTON */

.home-button {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
  color: #FFFFF0;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  margin-left: 1rem;
  padding: 11px 5px 10px 4px;
}

.home-button:hover {
  outline: none;
  border: none;
  transition: 0.5s ease;
}

#home-link {
  color: #4056A1;
}
/* BURGER */

.burger-drop {
  margin-right: 1rem;
  margin-top: 6px;
  padding: 13px 8px;
  cursor: pointer;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
  justify-content: center;
}

.bar-container:hover {
  outline: none;
  border: none;
  transition: 0.5s ease;
}

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 6px;
  background-color: #4056A1;
  margin: 6px 0;
  transition: 0.4s;
}

/* CHANGES TO BURGER */

.change .bar1 {
  transform: rotate(-45deg) translate(-7.5px, 7px);
  -webkit-transform: rotate(-45deg) translate(-7.5px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-9px, -10px);
   -webkit-transform: rotate(45deg) translate(-9px, -10px);
}

/* BURGER */

.dropdown-content {
  cursor: pointer;
  border: none;
  color: #4056A1;
  outline: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-drop {
  text-decoration: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 40px;
  padding: 10% 1%;
  width: 100%;
  overflow: auto;
}

/*FIRST CONTAINER*/

.container-1 {
  padding-top: 100px;
  width: 103%;
  height: 500px;
  background-color: #fffff0;
}

/*container text is in all containers*/
.container-text {
  margin: 30px 0px;
  padding: 2px;
}

h1 {
  font-family: 'PT Mono', monospace;
  color: #4056A1;
  font-size: 55px;
  text-align: left;
  margin: 10% 3% 5% 3%;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-size: 40px;
  color: #4c9ad6;
  text-align: left;
  margin: 6% 3% 8% 3%;
}

#typeWriterHeading2 {
  margin-bottom: 3%;
}

#typeWriterHeading22 {
  margin-top: 0;
}

/*SECOND CONTAINER*/
.container-2 {
  width: 100%;
  height: 1400px;
  background-color: #9BCEF5;
}

/*h3 in all containers except first one*/

h3 {
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  font-size: 37px;
  text-align: left;
  margin: 0;
  padding: 8% 3% 3%;
}

#reflection-sentence {
  font-size: 25px;
}

#about-me-title {
  color: #FFFFF0;
}

#photo-gallery-title {
color: #4c9ad6;
}

#my-website-title {
  color: #FFFFF0;
}

#links-title {
 color: #4c9ad6;
}

h4 {
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  color: #FFFFF0;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 2% 3%;
}


#about-me-text {

}

#application-text {

}

#application-info {
  line-height: 2rem;
}

p {
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  line-height: 1.8rem;
  padding: 0% 7%;
}

/*THIRD CONTAINER*/

.container-3 {
  width: 100%;
  height: 825px;
  background-color: #fffff0;
}

/*FOURTH CONTAINER*/

.container-4 {
  width: 100%;
  height: 1250px;
  background-color: #9BCEF5;
}

.container-5 {
  width: 100%;
  height: 1650px;
  background-color: #fffff0;
}

.project-work-title {
  width: 10%;
  height: 10%;
  margin: 0;
}

h5 {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  position: relative;
  color: #000000;
  text-align: center;
  font-size: 2rem;
  margin-top: 2.5rem;
  flex-direction: column;
}

#cfg {
  font-size: 1.5rem;
  margin-top: 0.9rem;
}

#wrap-links {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: 35px;
}

.project-work {
  display: flex;
  position: relative;
  width: 17rem;
  height: 17rem;
  cursor: pointer;
  margin: 3rem 2rem;
  border-radius: 3%;
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: flex-end;
  flex-flow: column wrap;
}

.project-work:hover {
  display: flex;
  position: relative;
  box-shadow: 0px 35px 50px 0px rgba(63,63,65,0.4);
  transition: 0.7s ease;
  background-color: rgb(44, 54, 61);
}

#project-work-fcc {
  background-color: #8693c4;
}

#project-work-fcc:hover {
  background-color: #3b487a;
}

#project-work-cw {
 background-color: #b9c1dd;
}

#project-work-cw:hover {
  background-color: #5366aa;
}

#project-work-gh {
  background-color: #9ea8cf;
}

#project-work-gh:hover {
  background-color: #425188;
}

#project-work-cfg {
  background-color: #6475b2;
}

#project-work-cfg:hover {
  background-color: #2f3961;
}

.icon-a {
  width: 100%;
  height: 100%;
}

.icon-a:hover {
  filter: invert(90%);
}

.icon {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  flex: 0 1 auto;
  height: 50%;
}

a {
  text-decoration: none;
}

#home-link:visited {
  color: #4056A1;
}

/* ========================
Drop down menu

/* Dropdown Button */
.menu-button {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
  color: #4056A1;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  margin-right: 1rem;
  display: none;
  padding: 11px 4px 10px;
}

/* Dropdown Content - hidden */
.dropdown-content {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 145px;
}

/* Options in the dropdown */
.dropdown-content a {
  font-family: 'Allerta Stencil', sans-serif;
  color: #4056A1;
  padding: 10px 12px;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  font-size: 25px;
  width: calc(100% - 24px);
}

/* Change colour of the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6677b3;
  outline: none;
  border: none;
  transition: 0.4s ease;
  color: #FFFFF0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.appear {
  display: block;
}

.show {
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 76px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFF0;
  height: 100px;
  width: 100%;
}

h6 {
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  color: #696969;
  text-align: left;
  margin: 3% 3%;
  width: 100%;
}

#created-by {
  padding-top: 2%;
}

#email-address {
  padding-bottom: 2%;
}

/* MEDIA QUERIES */

/* FIRST MEDIA QUERY */

@media (min-width: 360px) {
  .container-text {
    margin: 10px;
    padding: 10px;
}

.container-1 {
  width: 100%;
}

#cfg {
  margin-top: 1.5rem;
}
}

/* SECOND MEDIA QUERY */

@media (min-width: 420px) {

  h1 {
    font-size: 85px;
  }

  h2 {
    font-size: 53px;
  }
}

/* THIRD MEDIA QUERY */

@media (max-width: 499px) {

  .appear {
    height: 100vh;
    left: 0;
    right: 0;
    width: 100vw;
  }

  .dropdown-content a {
    text-align: center;
    padding: 12% 0%;
    font-size: 35px;
  }
}

/* FOURTH MEDIA QUERY */

@media (min-width: 500px) {

  .burger-drop {
    display: none;
  }

  .burger-container {
    display: none;
  }

  .appear {
    display: block;
  }

  .menu-button {
    display: block;
  }

  .menu-button:hover, .menu-button:focus {
    background-color: #4056A1;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: #FFFFF0;
  }

  .home-button:hover {
    background-color: #4056A1;
    outline: none;
    border: none;
    transition: 0.5s ease;
    color: #FFFFF0;
  }

  #home-link:hover {
    color: #FFFFF0;
  }

  .container-1 {
    height: 800px;
  }
}

/* FIFTH MEDIA QUERY */

@media (min-width: 712px) {
  .container-5 {
    height: 1000px;
  }

  h3 {
    font-size: 55px;
  }

  h6 {
    font-size: 20px;
    margin: 1% 3%;
  }
}

/* SIXTH MEDIA QUERY */

@media (min-width: 1000px) and (max-width: 1099px) {

  .container-5 {
    height: 1100px;
  }

  .project-work {
    flex-wrap: wrap;
    margin: 7vw;
    height: 20rem;
    width: 20rem;
    margin: 3rem 2rem;
  }

  .container-2 {
    height: 1550px;
  }
}

/* SEVENTH MEDIA QUERY */

@media (min-width: 1100px) and (max-width: 1383px) {

  .container-5 {
    height: 1250px;
  }

  .project-work {
    flex-wrap: wrap;
    margin: 7vw;
    height: 20rem;
    width: 20rem;
    margin: 5rem 6rem;
  }

  .container-2 {
    width: 100%;
    height: 1480px;
  }
}

/* EIGHTH MEDIA QUERY */

@media (min-width: 1384px) {
  .container-5 {
    height: 832px;
  }
}

/*----------------------*/
  .project-work:hover {
    display: flex;
    position: relative;
    box-shadow: 0px 35px 50px 0px rgba(63,63,65,0.4);
    transition: 0.7s ease;
    background-color: rgb(44, 54, 61);
  }
  /* Add fade out to project work boxes */
  #wrap-links {
    visibility: hidden;
  }

  #wrap-links > * {
    visibility: visible;
  }

  #wrap-links > * {
    transition: opacity 150ms linear 100ms, transform 150ms, ease-in-out 200ms;
    transition: visibility 150ms linear 100ms, transform 150ms, ease-in-out 400ms;
  }

  /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

  #wrap-links:hover > * {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s ease-in;
    color: #FFFFF0;
  }

  /* Fade out all items when the parent is hovered */

  #wrap-links > *:hover {
    opacity: 1;
    transform: scale(1.05);
    transition-delay: 0ms, 0ms;
    visibility: visible;
  }



/* MEDIA QUERIES  */
  /* --------------- */
  @media (min-width: 629px) and (max-width: 654px) {
  .container-2 {
    height: 2060px;
  }
  }

  @media (min-width: 655px) and (max-width: 679px) {
  .container-2 {
    height: 2000px;
  }
  }

  @media (min-width: 680px) and (max-width: 719px) {
  .container-2 {
    height: 1940px;
  }
  }

  @media (min-width: 720px) and (max-width: 769px) {

    .container-2 {
      height: 1870px;
  }
  }

  @media (min-width: 770px) and (max-width: 822px) {

    .container-2 {
      height: 1800px;
    }
  }

  @media (min-width: 823px) and (max-width: 918px) {

  .container-2 {
    height: 1720px;
  }
  }


  @media (min-width: 919px) and (max-width: 999px) {
    .container-2 {
      height: 1600px;
    }
  }
