nav {
  position: fixed;
  width: 100%;
  height: 9%;
  top: 0;
  left: 0;
  background-color: rgb(249, 249, 248);
  display: flex;
}

.home-button {
  font-family: 'Luckiest Guy', cursive;
  font-size: 120px;
  margin: 6% 4%;
  width: 20%;
  height: 50%;
}

.menu-button {
  font-family: 'Luckiest Guy', cursive;
  font-size: 120px;
  margin: 6% 36%;
  width: 40%;
  height: 50%;
}
/*
h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 100px;
  color: black;
}*/
