html {
  display: block;
  background-color: rgb(244, 244, 244);
}

body {
  display: block;
}

nav {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: rgb(249, 249, 248);
  display: flex;
}

.home-button-wrap {
  display: inline;
  position: absolute;
  margin-left: 2%;
}

.home-button {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 65px;
  color: rgb(29, 39, 39);
  cursor: pointer;
  border: none;
  background-color: rgb(249, 249, 248);
  outline: none;
  padding-bottom: 7px;
}

.home-button:hover {
  background-color: rgb(44, 54, 61);
  outline: none;
  border: none;
  transition: 0.5s ease;
  color: white;
}

.menu-button-wrap {
  margin-left: 85%;
}

.menu-button {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 65px;
  padding-bottom: 7px;
  color: rgb(29, 39, 39);
  cursor: pointer;
  border: none;
  background-color: rgb(249, 249, 248);
  outline: none;
}

.menu-button:hover {
  background-color: rgb(44, 54, 61);
  outline: none;
  border: none;
  transition: 0.5s ease;
  color: white;
}

.container-1 {
  width: 100%;
  height: 700px;
  background-color: rgb(244, 244, 244);
}

h1 {
  font-family: 'PT Mono', monospace;
  color: rgb(47, 79, 79);
  font-size: 100px;
  text-align: left;
  margin: 16% 3% 5% 3%;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(18, 31, 31);
  text-align: left;
  margin: 6% 3% 8% 3%;
}

h3 {
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  font-size: 70px;
  color: rgb(18, 31, 31);
  text-align: left;
  padding: 3% 3%;
}

.container-2 {
  width: 100%;
  height: 700px;
  background-color: rgb(234, 237, 237);
}

.about-me-text {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 2% 5%;
  font-size: 20px;
}

.container-3 {
  width: 100%;
  height: 600px;
  background-color: rgb(244, 244, 244);
}

.container-4 {
  width: 100%;
  height: 700px;
  background-color: rgb(234, 237, 237);
}

.project-work-title {
  width: 10%;
  height: 10%;
  margin: 0;
}

h4 {
  font-family: 'PT Mono', monospace;
  color: rgb(88, 114, 114);
  text-align: left;
  font-size: 20px;
  margin: 0;
}

.project-work {
  width: 50px;
  height: 50px;
  background-color: rgb(214, 215, 215);
  padding: 2%;
  margin: 2%;
  cursor: pointer;

}

/* Image carousel */

.image-carousel-container {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  margin: auto;
}

.image-inside-carousel {
  display: none;
}


/* Position the "next button" to the right */

.previous-arrow {
  cursor: pointer;
  position: absolute;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  transition: 0.5s ease;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
}

.next-arrow {
  cursor: pointer;
  position: absolute;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  transition: 0.5s ease;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.previous-arrow:hover, .next-arrow:hover {
  background-color: rgb(44, 54, 61);
}

}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(108, 122, 137, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(108, 122, 137);
}
